@import "tailwindcss";

@theme inline {

  --color-mac-red: #ff5f56;
  --color-mac-yellow: #ffbd2e;
  --color-mac-green: #27c93f;

  --color-mac-bg: #1e1e1e;
  --color-mac-header: #2d2d2d;
  --color-mac-border: #333333;
  --color-mac-text: #f8f8f2;
}



/* Base styles for the terminal */
.terminal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.terminal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.terminal-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.terminal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}